[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Francisco Lozano
	email = becauseiamamc@gmail.com
[core]
	editor = \"C:\\Users\\dobleF\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
